.chrome-extension-popup {
    width: 442px;
    border-radius: 2px;
    background:#FFF;
    box-shadow: 6px 14px 6.3px 8px rgba(0, 0, 0, 0.05);
    padding: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Sora', sans-serif;
}
.chrome-extension-popup header {
    background:#254B53 url('../images/hero-img.png') top left no-repeat;
    background-size: cover;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 100px;
}
.chrome-extension-popup h1 {
    color: #FAFAFA;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: -1.28px;
    font-weight: 200;
}
.chrome-extension-popup h1 span {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
.chrome-extension-popup ul {
    color: #040A1E;
    padding: 0;
    margin: 20px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.96px;
    list-style: none;
    width: 80%;
}
.chrome-extension-popup ul li {
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -0.96px;
    padding-left: 16px;
    margin-bottom: 8px;
    display: flex;
    align-items: start;
    justify-content: start;
}
.chrome-extension-popup button {
    background:#6E5BFF;
    border:0 none;
    padding: 16px 8px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    color: #FAFAFA;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: -0.26px;
    cursor: pointer;
}
.chrome-extension-popup footer p {
    color: #040A1E;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.96px;
}
.chrome-extension-popup footer a {
    color: #040A1E;
    text-decoration: none;
    font-weight: 600;
}